.main-page { background-image: url('../img/background.jpg'); }

.social-media-buttons {
  padding: 1em;
  font-size: 1em;
  text-align: right;
}

i.fa-stack-1x { font-size: larger; }

i.fa-stack-1x.dark { color: rgb(99, 99, 108); }

.fa-slides { font-weight: bold; }

.main-content { width: 80%; }

.main-content h1 {
  font-size: 10em;
  margin: 0;
}

.main-footer {
  left: 0;
  display: flex;
  width: 100%;
  padding: 2em 0;
}

.main-footer span {
  width: 25%;
  text-transform: uppercase;
  text-align: center;
}

