body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  font-size: 1em;
  text-align: right;
}

header a {
  color: rgb(248, 245, 233);
}

i.fa-stack-1x {
  font-size: larger;
}

i.fa-stack-1x.dark {
  color: rgb(99, 99, 108);
}

.fa-slides {
  font-weight: bold;
}

section {
  display: block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

section h1 {
  font-family: 'Poiret One', cursive;
  font-size: 10em;
  margin: 0;
  margin-bottom: 1em;
  color: rgb(248, 245, 233);
}

footer {
  display: table;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3em 0;
}

footer span {
  display: table-cell;
  width: 25%;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  color: rgb(248, 245, 233);
}

footer span a {
  padding: 10px;
  border: 2px solid rgb(248, 245, 233);
  text-decoration: none;
  color: rgb(248, 245, 233);
}

