body {
  background-image: url('../img/background-404.jpg');
}

.main {
  width: 70%;
}

.main h1 {
  margin: 0.25em 0;
  font-size: 7em;
}

footer {
  display: block;
  padding: 1em 0;
}

.footer-content {
  display: block;
  text-transform: none;
  text-align: right;
  width: 100%;
}

