body {
  color: rgb(248, 245, 233);
  background-color: rgba(99, 99, 108, 0.1);
  background-image: url('../img/background-404.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: block;
  width: 70%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

section h1 {
  margin: 0.25em 0;
  font-family: 'Poiret One', cursive;
  font-size: 7em;
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  padding: 1em 0;
}

footer p {
  margin-right: 3em;
}

a {
  color: rgba(248, 245, 233, 0.5);
}

a:hover {
  color: rgb(248, 245, 233);
}
