*~
*.swp
*.log
.DS_Store
.nrepl-history
.nrepl-port
node_modules/
dist/
_src/test/functional-tests/reports/**/*.xml
_src/test/functional-tests/screenshots/**/*.png
target/
out/

# posts should be ignored and
# its content should come only
# from templates dir
photo/_src/app/assets/posts/
