*~
*.swp
*.log
.DS_Store
node_modules/
dist/
test/functional-tests/reports/*.xml
test/functional-tests/screenshots/*.jpg

# posts should be ignored and
# its content should come only
# from templates dir
photo/_src/app/assets/posts/
