---
title: Junior Ales - A consultant passionate about technology
description: A Thoughtworks Brasil consultant solving people's problems with code and ideas. Find here all the content I produce in the web and the ways to contact me. Do you like technology, software development, brazilian jiu jitsu or photography? Let's talk.
background-image: http://www.juniorales.com/images/background-small.jpg
---

{{#> layout }}
  <div id="alert-box" class="alert">
    <p id="alert-content"></p>
  </div>

  <section id="social-media-buttons">
    <a href="http://www.juniorales.com/photo" data-track-identifier="header:photoblog" target="_blank" class="fa-stack">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-camera fa-stack-1x dark"></i>
    </a>
    <a href="https://twitter.com/junior_ales" data-track-identifier="header:twitter" target="_blank" class="fa-stack">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x dark"></i>
    </a>
    <a href="https://medium.com/@junior_ales" data-track-identifier="header:medium" target="_blank" class="fa-stack">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-medium fa-stack-1x dark"></i>
    </a>
    <a href="https://github.com/junior-ales" data-track-identifier="header:github" target="_blank" class="fa-stack">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-github-alt fa-stack-1x dark"></i>
    </a>
    <a id="email-link" href="#" target="_top" class="fa-stack small-hidden">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x dark"></i>
    </a>
  </section>

  <section id="title">
    <h1>junior ales</h1>
    <p>Consultant Developer</p>
  </section>

  <section id="content">
    <article class="content-block summary">
      <header class="block-header">
        <h1>Summary</h1>
        <p>brief description about me</p>
      </header>
      <section class="block-description">
        <p class="description">A Thoughtworks Brasil consultant solving people's problems with code and ideas. Find here all the content I produce in the web and the ways to contact me. Do you like technology, software development, brazilian jiu jitsu or photography? Let's talk.</p>
        <p class="avatar"><img src="images/avatar.jpg" alt="Junior Ales' avatar" /></p>
      </section>
    </article>

    <article class="content-block photo-blog reverse-color">
      <header class="block-header">
        <h1>Photo Blog</h1>
        <p>photography, blog, inspiration</p>
      </header>
      <section class="block-description">
        <p class="description">
        I like to think of photography beyond techniques, colors, focus, depth and patterns.
        I'm fascinated about the story behind the lens. It's all about the unique way the
        person sees and feels the world around herself/himself in that given moment.
        This blog is a way of telling my stories to everyone. The content of the blog is (for now)
        only in portuguese, but I believe non portuguese speakers will be able to
        understand my ideas through my photos.
        </p>
        <p class="avatar">
          <a class="link-wrapper reverse-color" data-track-identifier="details:photoblog" target="_blank" href="http://www.juniorales.com/photo">
            <img class="reverse-color" src="images/photo-blog-icon.jpg" alt="Junior Ales photo blog's avatar" /><br>juniorales.com/photo
          </a>
        </p>
      </section>
    </article>

    <article class="content-block twitter-block">
      <header class="block-header">
        <h1>Twitter</h1>
        <p>software dev, technology, random stuff</p>
      </header>

      <section class="block-description">
        <p class="description">My twitter account is for sure the easiest way to contact me. It's the place where I share mostly technology and software development content, focusing on things that impressed me and I think can help other people in some way. As it's a personal microblog sometimes I share content not related to technology at all, instead things of personal interest like sports and politics.</p>
        <p class="avatar">
          <a class="link-wrapper" data-track-identifier="details:twitter" target="_blank" href="http://www.twitter.com/junior_ales">
            <img src="images/twitter-icon.jpg" alt="Twitter's avatar" /><br/> twitter.com/junior_ales
          </a>
        </p>
      </section>
    </article>

    <article class="content-block personal-blog reverse-color">
      <header class="block-header">
        <h1>Personal Blog</h1>
        <p>politics, society, brazil</p>
      </header>
      <section class="block-description">
        <p class="description">In this blog I usually write about my view of the world and the Brazilian society. Politics is a subject which I really like and writing about it makes me understand better my beliefs, fostering the dialogue with people with different views and thus making me learn more and more. Due the nature of the content, all the posts are in portuguese.</p>
        <p class="avatar">
          <a class="link-wrapper reverse-color" data-track-identifier="details:medium" target="_blank" href="http://www.medium.com/@junior_ales">
            <img class="reverse-color" src="images/medium-icon-new.jpg" alt="Medium blog's avatar" /><br>medium.com/@junior_ales
          </a>
        </p>
      </section>
    </article>

    <article id="email-me" class="content-block email-me">
      <header class="block-header">
        <h1>Send me an email</h1>
        <p>let's talk</p>
      </header>

      <section class="block-description">
        <p class="description">If you feel like commenting, complimenting or complaining about a shared interest, drop me a message.</p>
        <form class="email-me-form">
          <input id="sender-email" type="email" name="_replyto" placeholder="your email" tabindex="1" required>
          <textarea id="sender-message" name="message" rows="5" placeholder="your message" tabindex="2" required></textarea>
          <input id="sender-gotcha" type="text" name="_gotcha" style="display:none">
          <input type="hidden" name="_subject" value="New message from juniorales.com" />
          <button id="send-email-button" type="submit" tabindex="3">Send Email</button>
        </form>
      </section>

      <footer>
        <a href="https://br.linkedin.com/in/juniorales" data-track-identifier="details:footer:linkedin" target="_blank" class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x dark"></i>
        </a>
        <a href="https://github.com/junior-ales" data-track-identifier="details:footer:github" target="_blank" class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-github-alt fa-stack-1x dark"></i>
        </a>
        <a href="https://instagram.com/junior_ales" data-track-identifier="details:footer:instagram" target="_blank" class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x dark"></i>
        </a>
        <a href="https://www.facebook.com/juniorales" data-track-identifier="details:footer:facebook" target="_blank" class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x dark"></i>
        </a>

        <ul>
          <li>Junior Ales</li>
          <li class="separator">&bull;</li>
          <li>code at <a href="https://github.com/junior-ales/junior-ales.github.io/" data-track-identifier="details:footer:github-repo" target="_blank">github</a></li>
        </ul>
      </footer>
    </article>
  </section>

  <a id="view-less" class="highlighted-link" href="#">view less</a>

  <footer id="main-footer">
    <p><a id="view-more" class="highlighted-link" href="#">view more</a></p>
  </footer>
{{/layout}}
