<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photographic Blog |{{#unless title }} Junior Ales{{/unless}} {{title}}</title>
    <link rel="icon" type="image/png" href="{{#unless isHome }}../../../../{{/unless}}img/favicon.png">
    <link rel="stylesheet" href="{{#unless isHome }}../../../../{{/unless}}styles/libs.css">
    <link rel="stylesheet" href="{{#unless isHome }}../../../../{{/unless}}styles/app.css">
  </head>
  <body>

  <header class="main-header">
    <h1>photography</h1>
    <p><span> by</span> junior ales</p>
  </header>
