---
isHome: true
viewComponent: indexView
---

{{#> layout }}

<section class="intro">
  <h2 class="sub-header"><span>sobre o blog</span></h2>
  <img class="author-image" src="img/main-selfie-small.jpg" alt="Foto do autor do blog, Junior Ales" />
  <p class="description">
    Eu gosto de pensar sobre fotografia além de técnicas, cores e padrões.
    O que me mais me intriga é a história por trás das lentes. É mais do que um
    retrato, é sobre a maneira única que a pessoa vê e sente o mundo a sua volta naquele exato instante.
    <em>Esse blog é a maneira que encontrei para contar minhas histórias.</em>
  </p>
  <div id="most-viewed-posts" class="most-viewed-posts"></div>
</section>

<div id="home-page-posts"></div>

{{/layout}}
