.contact-links {
  padding: 1em;
  text-align: center;

  & > .link {
    color: transparentize($light-text-color, .3);
    padding: 1em;
    text-decoration: none;

    &:hover { color: $light-text-color; }
  }

  & .icon {
    font-size: 1.25em;
    color: $dark-text-color;
    top: 1px;
    position: relative;
  }
}

.toggle-lang {
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  color: transparentize($light-text-color, .3);
  cursor: pointer;

  &:hover { color: $light-text-color; }
}
