.contact-links {
  padding: 1em;
  text-align: center;

  & > .link {
    padding: 1em;
    text-decoration: none;

    @extend %link-behavior;
  }

  & .icon {
    font-size: 1.25em;
    color: $dark-text-color;
    top: 1px;
    position: relative;
  }
}

.toggle-lang {
  border: none;
  text-decoration: underline;

  @extend %link-behavior;
}
