.title-section {
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;

  @include prefix(transform, translate(-50%, -50%));

  & > .title {
    font-size: 3em;
    margin: 0;
    font-family: $title-font;
  }

  & > .description {
    font-family: $subtitle-font;
    text-transform: capitalize;
  }
}

.expand-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  text-align: center;

  & > .button {
    @extend %link-behavior;

    font-size: 1em;
    border: 1px solid $light-text-color;
    padding: 1em;
    margin: 2em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.hide-sections-button {
  @extend %link-behavior;

  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  margin: 1em;
  background-color: $dark-bg-color;
  border: 1px solid $light-text-color;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 1;
  min-width: 85px;
}
