%section-block {
  min-height: 500px;
  width: 100%;
  padding: 1em;
  padding-bottom: 2em;
  font-size: 1.25em;

  @media #{$small-break} {
    min-height: initial;
  }

  @media #{$large-break} {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  @media #{$largest-break} {
    @include prefix(box-sizing, border-box);
  }
}

.sections-container {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;

  @extend %flex-wrap;
  @include prefix(transition, .5s ease);
}

.section-header {
  & > .title {
    font-family: $title-font;
    font-size: 2em;
    margin-bottom: 0;
  }

  & > .subtitle {
    margin-bottom: 2em;
    font-family: $subtitle-font;
  }
}

.section-description {
  @extend %flex-wrap;
  line-height: 1.5em;

  & > .description {
    width: 100%;
    margin: 0;

    @media #{$small-break} {
      width: 60%;
      margin-top: 1em;
    }

    @media #{$largest-break} {
      width: 100%;
      margin-top: 0;
    }
  }
}

.avatar-wrapper {
  width: 100%;
  margin: 0;
  text-align: center;
  padding-top: 2em;

  @media #{$small-break} {
    width: 40%;
    padding-top: 0;
  }

  @media #{$largest-break} {
    width: 100%;
    padding: 2em 0;
  }

  & > .avatar {
    width: 150px;
    height: 150px;
    border: 3px solid $light-text-color;

    @include prefix(border-radius, 100%);
  }

  & > .avatar-link > .avatar {
    border: 3px solid $light-text-color;
    margin-bottom: 1em;
    opacity: .7;
  }
}

.summary-section {
  @include order(0);
  @extend %section-block;
  background-color: rgb(51, 52, 71);

  @media #{$largest-break} {
    width: 40%;
    margin-right: 60%;
  }

  & > .description {
    @include order(0);

    @media #{$largest-break} {
      @include order(1);
      padding-bottom: 1em;
    }
  }

  & > .avatar-wrapper {
    @include order(1);

    @media #{$largest-break} {
      @include order(0);
      padding-top: 0;
    }
  }
}
