---
title: Flores Flutuantes
postPath: 2015/07/17/flores-flutuantes
description: A frente de um dos cartões postais mais famosos do mundo, um espelho d'agua. Flores parecem brotar dele, parecem estar soltas, dançando ao ritmo do vento na coluna d'agua. Centenas de pessoas tirando e posando para fotos nesse mesmo lugar que eu estava, porém, a direção de suas cameras era diferente da minha.
viewComponent: postView
---

{{#> layout }}

<section id="post-container" class="post-container"></section>

{{/layout}}
