@font-face {
  font-family: 'Quicksand';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Quicksand-300/Quicksand-300.eot');
  src: url('./fonts/Quicksand-300/Quicksand-300.eot?#iefix') format('embedded-opentype'),
       local('Quicksand Light'),
       local('Quicksand-300'),
       url('./fonts/Quicksand-300/Quicksand-300.woff2') format('woff2'),
       url('./fonts/Quicksand-300/Quicksand-300.woff') format('woff'),
       url('./fonts/Quicksand-300/Quicksand-300.ttf') format('truetype'),
       url('./fonts/Quicksand-300/Quicksand-300.svg#Quicksand') format('svg');
}

@font-face {
  font-family: 'Poiret One';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Poiret-One-regular/Poiret-One-regular.eot');
  src: url('./fonts/Poiret-One-regular/Poiret-One-regular.eot?#iefix') format('embedded-opentype'),
       local('Poiret One'),
       local('Poiret-One-regular'),
       url('./fonts/Poiret-One-regular/Poiret-One-regular.woff2') format('woff2'),
       url('./fonts/Poiret-One-regular/Poiret-One-regular.woff') format('woff'),
       url('./fonts/Poiret-One-regular/Poiret-One-regular.ttf') format('truetype'),
       url('./fonts/Poiret-One-regular/Poiret-One-regular.svg#PoiretOne') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Lora-regular/Lora-regular.eot');
  src: url('./fonts/Lora-regular/Lora-regular.eot?#iefix') format('embedded-opentype'),
       local('Lora'),
       local('Lora-regular'),
       url('./fonts/Lora-regular/Lora-regular.woff2') format('woff2'),
       url('./fonts/Lora-regular/Lora-regular.woff') format('woff'),
       url('./fonts/Lora-regular/Lora-regular.ttf') format('truetype'),
       url('./fonts/Lora-regular/Lora-regular.svg#Lora') format('svg');
}

$font-default-size: 14px;
$font-headline: 'Poiret One', cursive;
$font-subhead: 'Quicksand', sans-serif;
$font-default-text: 'Lora', serif;
