@import "colors";
@import "fonts";
@import "utils";

$size-header: 6.25em;
$post-max-width: 490px;
$post-min-height: 119px;
$post-min-width: 192.5px;

html {
  @include prefix(box-sizing, border-box);
}

*, *:before, *:after {
  @include prefix(box-sizing, inherit);
}

body {
  background-color: $color-default-bg;
  color: $color-default-text;
  font-family: $font-default-text;
  font-size: $font-default-size;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: $color-primary;
  border-top: .25em solid $color-detail;
  color: $color-secondary;
  width: 100%;
  max-height: $size-header;
  padding: 1em 0;
  text-align: center;
  text-transform: lowercase;
}

.sub-header { display: none; }

.main-header__title {
  font-family: $font-headline;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}

.main-header__link {
  color: inherit;
  text-decoration: none;
}

.main-header__subhead {
  margin: .25em;
  font-family: $font-headline;
  font-size: 1em;
  font-weight: bold;

  span { font-size: .6em; }
}

%social-media-block {
  @include order(1);
  width: 65%;
  padding: 1em;
  text-align: center;
}

.main-header__social-media {
  @extend %social-media-block;
  display: none;
  font-size: .5em;
  width: 150px;
  position: absolute;
  right: 0;
}

.intro {
  display: block;
  position: relative;
  min-height: 15em;
  @include prefix(background-size, cover);
  background-image: url(../img/main-selfie-small.jpg);

  .author-image { display: none; }

  p {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    text-align: justify;
    line-height: 1.5em;
    letter-spacing: .1em;
    margin: 0;
    max-width: 650px;

    em {
      font-style: normal;
      font-weight: bold;
    }
  }
}

.posts-container {
  display: block;
  padding: 1em;
}

.post-list {
  list-style-type: none;
  padding: 0;
  font-family: $font-headline;
  font-weight: bold;
  text-align: center;
}

.post-list__sorting {
  padding: 1em 0 .5em 0;
  display: inline;
  color: transparentize($color-default-text, .6);
  text-transform: uppercase;
}

.post-list__sorting--separator {
  @extend .post-list__sorting;
  padding: 1em;
  color: transparentize($color-default-text, .9);
}

.post-list__sorting--active {
  @extend .post-list__sorting;
  color: $color-default-text;
  border-bottom: .125em solid $color-detail;
}

.post-list__button {
  color: inherit;
  background-color: inherit;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.post-list-wrapper {
  margin-top: 2em;
}

.post-wrapper {
  text-decoration: none;
  color: inherit;
}

@include keyframes(fadeIn) {
  from { opacity: 0; }
  to { opacity: 1; }
}

.post {
  display: block;
  position: relative;
  height: auto;
  min-height: $post-min-height;
  width: 100%;
  max-width: $post-max-width;
  min-width: $post-min-width;
  background-color: $color-primary;
  margin: 1em auto;
  font-family: $font-headline;
  @include prefix(box-shadow, 2px 2px 3px $color-primary);
  @include prefix(animation, fadeIn 1s);

  p { margin: 0; }
}

.post__cover {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  opacity: .3;
  @include prefix(transition, opacity .3s ease-in-out);
}

.post-wrapper:hover .post__cover { opacity: 1; }

.post__location {
  padding: .75em;
  position: absolute;
  top: 0;
  left: 0;
}

.post__pubdate {
  padding: .75em;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.post_pubdate__time { display: block; }

.post__pubdate__month { font-size: .75em; }

.post__pubdate__day {
  font-size: 2em;
  line-height: 0.75em;
}

.post__title {
  padding: .5em;
  position: absolute;
  width: 100%;
  bottom: 0;
  left:0;
  font-weight: bold;
  font-size: 1.75em;
  text-transform: uppercase;
  margin: 0;
  @include prefix(transition, background-color .3s ease-in-out);
}

.main-footer {
  @include display-flex-wrap();
  font-family: $font-headline;
  background-color: $color-primary;
  border-top: .25em solid $color-detail;
}

.main-footer__links {
  @include order(0);
  width: 35%;
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
  margin: 0;

  a {
    display: block;
    padding: .75em 0;
    font-size: 1.25em;
    margin: 1.25em;
  }
}

.site-link {
  text-decoration: none;
  color: transparentize($color-default-text, .6);
  font-size: inherit;
  @include prefix(transition, color .3s ease-in-out);
}

.main-footer__links--home { display: none; }

.main-footer__social-media {
  @extend %social-media-block;
}

.main-footer__social-media--home {
  @extend %social-media-block;
  width: 100%;
}

.social-media-link {
  display: inline-block;
  text-align: center;
  width: 2em;
  font-size: 2em;
  padding: .25em 0;
  text-decoration: none;
  color: transparentize($color-default-text, .6);
  @include prefix(transition, color .3s ease-in-out);
}

.social-media-link:hover, .site-link:hover { color: $color-default-text; }

.post-content {
  background-color: $color-quaternery;
  color: $color-secondary;
  margin: 1em;
  margin-top: 1em;
}

.post-content__header {
  font-family: $font-headline;
  text-transform: uppercase;
  padding: 1em;
  margin-top: 1em;

  h2 {
    margin: 0;
    margin-bottom: .25em;
    font-size: 1.5em;
  }
}

.post-content__detail {
  font-size: smaller;
  display: inline-block;
  width: 100%;

  time { float: right; }
}

.post-content__image {
  width: 100%;
  @include prefix(box-shadow, 2px 2px 3px $color-primary);
  @include prefix(transform, scale(1.04));
}

.post-content__text {
  padding: 1em;
  padding-top: 0;
  letter-spacing: .1em;
  line-height: 1.5em;
}
