$color-primary: rgba(26,15,0,1);
$color-tertiary: rgba(99,99,99,1);
$color-secondary: lighten($color-tertiary, 60%);
$color-alert: rgba(70,135,122,1);
$color-success: rgba(233,75,98,1);

$color-default-bg: $color-secondary;
$color-default-text: $color-primary;

$font-default-size: 14px;

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

html {
  @include prefix(box-sizing, border-box);
}

*, *:before, *:after {
  @include prefix(box-sizing, inherit);
}

body {
  background-color: $color-default-bg;
  color: $color-default-text;
  font-size: $font-default-size;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: $color-primary;
  color: $color-secondary;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 5em;
  text-align: center;
  padding: 1em 0;

  h1 {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p { margin-top: 0; }

}
