@import "colors";
@import "fonts";

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

$size-header: 8em;

html {
  @include prefix(box-sizing, border-box);
}

*, *:before, *:after {
  @include prefix(box-sizing, inherit);
}

body {
  background-color: $color-default-bg;
  color: $color-default-text;
  font-size: $font-default-size;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: $color-primary;
  color: $color-secondary;
  width: 100%;
  min-height: $size-header;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 0;
  text-align: center;
  text-transform: lowercase;
  border-top: 5px solid $color-detail;

  h1 {
    font-family: $font-headline;
    font-size: 3em;
    margin: 0;
  }

  p {
    margin: .25em;
    font-family: $font-subhead;
    font-size: 1em;
    font-weight: bold;

    span { font-size: .6em; }
  }
}

.intro {
  min-height: 15em;
  @include prefix(background-size, cover);
  background-image: url(../img/main-selfie.jpg);
  margin-top: $size-header;

  p { padding: .75em; }
}
