@import "colors";
@import "fonts";
@import "utils";

@media screen and (min-width: 415px) {
  body { font-size: 16px;}

  .intro {
    min-height: 22em;
    .description { text-align: right; }
  }
}

@media screen and (min-width: 650px) {
  body { @include display-flex-wrap(); }

  .main-header {
    @include order(0);
    width: 100%;
    text-align: left;
    padding: 1em;
    font-size: larger;
  }

  .intro {
    @include order(1);
    width: 100%;
    min-height: 28em;
  }

  #home-page-posts {
    @include order(2);
    width: 100%;
  }

  .main-footer {
    @include order(3);
    width: 100%;
  }

  .main-header__title,
  .main-header__subhead,
  .main-header__social-media {
    display: inline;
  }

  .post-container {
    margin: auto;

    .sub-header {
      display: block;
      margin-bottom: initial;
    }

    .post {
      width: 100%;
      margin: 1em;
      display: inline-block;
    }
  }

  .post-content__image { @include prefix(transform, scale(1.02)); }
}

@media screen and (min-width: 825px) {
  .post-container .post { width: 45%; }

  .post-container .sub-header {
    text-align: left;
    margin-left: 1em;
  }
}

@media screen and (min-width: 1075px) {
  #home-page-posts {
    @include order(1);
    width: 67%;
    max-width: 965px;

    .post { width: 46%; }

    .post:first-of-type {
      width: 100%;
      max-width: none;

      .post__cover { opacity: 1; }

      .post__title {
        padding-left: .75em;
        padding-bottom: 1.75em;
        background-color: transparentize($color-primary, .5);
        z-index: 0;
      }

      .post__pubdate, .post__location {
        top: inherit;
        bottom: 0;
        margin: .5em;
        z-index: 1;
      }

      .post__pubdate { font-size: larger; }

      &:hover .post__title { background-color: initial; }
    }
  }

  .post-list { display: none; }

  .post-list-wrapper {
    @include display-flex-wrap();
    margin-top: 0;

    .sub-header {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .intro {
    @include order(2);
    width: 30%;
    max-width: 435px;
    background: none;
    background-color: $color-primary;
    margin: 1em;

    .author-image {
      display: block;
      width: 100%;
    }

    .description {
      position: static;
      text-align: left;
      font-size: smaller;
    }

    .sub-header { padding-bottom: 1.75em; }
  }

  .sub-header {
    display: block;
    .most-viewed-posts & { background-color: initial; }
  }


  .main-footer { font-size: small; }

}

@media screen and (min-width: 1441px) {
  .intro { margin-right: auto; }
  #home-page-posts { margin-left: auto; }
}
