@import "colors";
@import "fonts";
@import "utils";

@media screen and (min-width: 415px) {
  body { font-size: 16px;}

  .intro {
    min-height: 22em;
    p { text-align: right; }
  }
}

@media screen and (min-width: 650px) {
  body { @include display-flex-wrap(); }

  .main-header {
    @include order(0);
    width: 100%;
    text-align: left;
    padding: 1em;
    font-size: larger;
  }

  .intro {
    @include order(1);
    width: 100%;
    min-height: 28em;
  }

  #home-page-posts {
    @include order(2);
    width: 100%;
  }

  .main-footer {
    @include order(3);
    width: 100%;
  }

  .main-header__title,
  .main-header__subhead,
  .main-header__social-media {
    display: inline;
  }
}

@media screen and (min-width: 1075px) {
  #home-page-posts {
    @include order(1);
    width: 67%;
  }

  .post-list { display: none; }

  .post-list-wrapper {
    @include display-flex-wrap();
    margin-top: 0;

    .sub-header { margin-bottom: 0; }
  }

  .post:first-of-type {
    width: 100%;
    max-width: none;
    .post__cover { opacity: 1; }
  }

  .post {
    width: 46%;
  }

  .intro {
    @include order(2);
    width: 30%;
    background: none;
    background-color: $color-primary;
    margin: 1em;

    .author-image {
      display: block;
      width: 100%;
    }

    p {
      position: static;
      text-align: left;
      font-size: smaller;
    }

    .sub-header { padding-bottom: 1.75em; }
  }

  .sub-header {
    display: block;
    margin: 0;
    padding: .75em;
    font-family: $font-headline;
    font-size: 1em;
    text-transform: uppercase;
    color: transparentize($color-default-text, .6);
    background-color: $color-tertiary;
  }
}
