@import "colors";
@import "fonts";

@media screen and (min-width: 415px) {
  body { font-size: 16px;}

  .intro {
    min-height: 22em;
    p { text-align: right; }
  }
}

@media screen and (min-width: 650px) {
  body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-header {
    -webkit-box-ordinal-group: 0;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
    width: 100%;
    text-align: left;
    padding: 1em;
    font-size: larger;
  }

  .intro {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 100%;
    min-height: 28em;
  }

  #home-page-posts {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 100%;
  }

  .main-footer {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    width: 100%;
  }

  .main-header__title,
  .main-header__subhead,
  .main-header__social-media {
    display: inline;
  }
}

@media screen and (min-width: 1075px) {
  #home-page-posts {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 62%;
  }

  .post-list { display: none; }

  .post-list-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0;

    .sub-header { margin-bottom: 0; }
  }

  .post:first-of-type {
    width: 100%;
    max-width: none;
  }

  .post { width: 46%; }

  .intro {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 35%;
    background: none;
    background-color: $color-primary;
    margin: 1em;

    .author-image {
      display: block;
      width: 100%;
    }

    p {
      position: static;
      text-align: left;
    }

    .sub-header { padding-bottom: 1.75em; }
  }

  .sub-header {
    display: block;
    margin: 0;
    padding: .75em;
    font-family: $font-headline;
    font-size: 1em;
    text-transform: uppercase;
    color: transparentize($color-default-text, .6);
    background-color: $color-tertiary;
  }
}
