---
layout: default
---

<div class="teaserimage">
  <div class="teaserimage-image">
    Teaser Image
  </div>
</div>

<header id="blog-header" class="blog-header">
  {% if site.logo %}
    <a class="blog-logo"
       href="{{ site.url | append: site.baseurl }}"
       style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">
      {{ site.title }}
    </a>
  {% endif %}
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
  <div class="custom-links">
    {% for social in site.social %}
      {% if social.url %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}"
             {% if social.desc %} title="{{ social.desc }}"{% endif %}>
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
          &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endif %}
    {% endfor %}
    <a href="{{ site.author_site }}">Sobre o Autor</a>
  </div>
</header>


<main class="content" role="main">
  {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Em Destaque</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name">
                <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a>
              </h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              {% if post.subtitle %}
                <p>{{ post.subtitle }}</p>
              {% else %}
                <p>{{ post.excerpt }}</p>
              {% endif %}
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date: "%d/%m/%Y" }}</time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <h5 class="index-headline normal"><span>Últimas Postagens</span></h5>
  {% endif %}

  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name">
              <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a>
            </h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            {% if post.subtitle %}
              <p>{{ post.subtitle }}</p>
            {% else %}
              <p>{{ post.excerpt }}</p>
            {% endif %}
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date: "%d/%m/%Y" }}</time>
<!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
          </div>
        </div>
      </article>
    {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="/dev/page{{paginator.next_page}}#blog-header">&larr; Posts Anteriores</a>
      <span class="page-number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
    {% endif %}
    {% if paginator.previous_page %}
      <span class="page-number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
      {% if paginator.page == 2 %}
        <a class="older-posts" href="/dev/#blog-header">Posts mais Recentes &rarr;</a>
      {% else %}
        <a class="older-posts" href="/dev/page{{paginator.previous_page}}#blog-header">Posts mais Recentes &rarr;</a>
      {% endif %}
    {% endif %}
  </nav>

  {{pagination}}

</main>
