---
title: Flores Flutuantes
postPath: 2015/10/17/flores-flutuantes
description: Em frente um dos cartões postais mais famosos do mundo, um espelho d'água. Flores parecem brotar dele, parecem estar soltas, dançando ao ritmo do vento na coluna d'água. Centenas de pessoas tirando e posando para fotos nesse mesmo lugar que eu estava, porém, a direção de suas câmeras era diferente da direção da minha.
viewComponent: postView
---

{{#> layout }}

<section id="post-container" class="post-container"></section>

{{/layout}}
