---
title: Uma Cor que Grita
postPath: 2015/10/19/uma-cor-que-grita
description: O vermelho é uma cor que não se esconde. Não há como expressar neutralidade ou indecisão com essa cor, definitivamente a expressão 'em cima do muro' não cabe a ela nem a nada que ela descreve.
viewComponent: postView
---

{{#> layout }}

<section id="post-container" class="post-container"></section>

{{/layout}}
