---
title: O Almoço e a Baía
postPath: 2015/10/07/o-almoco-e-a-baia
description: São Francisco é uma cidade realmente impressionante. É uma amostra do que o trabalho humano (e a exploração do mesmo muitas vezes) pode fazer em vários aspectos. A quantidade e a beleza de prédios, pontes e estradas dão uma ideia do que nós somos capazes de construir.
viewComponent: postView
---

{{#> layout }}

<section id="post-container" class="post-container"></section>

{{/layout}}
