html {
  background: url(../img/background-mobile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* workaround for full image background */
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  color: rgb(248, 245, 233);
  font-size: 12px;
}

a {
  color: rgba(248, 245, 233, 0.7);
  font-weight: bold;
}

.reverse-color {
  border-color: rgb(51, 52, 71);
  color: rgb(51, 52, 71);
}

.link-wrapper {
  display: block;
  min-width: initial;
  min-height: initial;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

#social-media-buttons {
  padding: 1em;
  text-align: center;
}

.fa-stack { padding: 1em; }

i.fa-stack-1x { font-size: 1.25em; }

i.fa-stack-1x.dark {
  color: rgb(99, 99, 108);
  top: 1px;
  position: relative;
}

#title {
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#title h1 {
  font-size: 3em;
  margin: 0;
  font-family: 'Poiret One', cursive;
}

#title p { font-family: 'Quicksand', sans-serif; }

#main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  text-align: center;
}

#main-footer p { padding: 2em; }

.highlighted-link {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  border: 1px solid rgba(248, 245, 233, 0.7);
}

#view-less {
  position: fixed;
  top: 0;
  right: 0;
  min-height: initial;
  background-color: rgb(51, 52, 71);
}

#content {
  display: flex;
  flex-wrap: wrap;
}

.content-block {
  min-height: 500px;
  width: 100%;
  padding: 1em;
  padding-bottom: 2em;
  font-size: 1.25em;
}

.block-header h1 {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  margin-bottom: 0;
}

.block-header p {
  margin-bottom: 2em;
  font-family: 'Quicksand', sans-serif;
}

.block-description {
  font-family: 'Lora', serif;
  line-height: 1.5em;
}

.avatar {
  text-align: center;
  padding-top: 2em;
}

.avatar img {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(248, 245, 233);

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.reverse-color {
  color: rgb(99, 99, 108);
}

.avatar a img {
  border: 3px solid rgba(248, 245, 233, 0.7);
}

.avatar a img.reverse-color {
  border-color: rgb(99, 99, 108);
}

.email-me-form {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 0;
}

.email-me-form * {
  font-size: 1em;
  width: 100%;
  padding: 1em;
  border: 0;
  margin-bottom: 1em;
  font-family: 'Quicksand', sans-serif;
}

.email-me-form input,
.email-me-form button,
.email-me-form textarea {
  background-color: rgba(248, 245, 233, 0.1);
  color: rgb(248, 245, 233);
  text-transform: lowercase;
}

.email-me-form button {
  text-transform: uppercase;
  color: rgba(248, 245, 233, 0.7);
  background-color: rgb(48, 93, 84);
}

.summary {
  order: 0;
  background-color: rgb(51, 52, 71);
}

.personal-blog {
  order: 1;
  background-color: rgb(248, 245, 233);
}

.twitter-block {
  order: 2;
  background-color: rgb(99, 99, 108);
}

.email-me {
  order: 3;
  background-color: rgb(51, 52, 71);
}

.email-me footer {
  display: block;
  text-align: center;
}

.email-me ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  color: rgba(248, 245, 233, 0.7);
}

.email-me li {
  font-family: 'Quicksand', sans-serif;
  display: inline;
}

.separator { margin: 0 .5em; }
