@media screen and (min-width: 361px) {
  html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* workaround for full image background */
    height: 100%;
    min-height: 100%;
  }
}

@media screen and (min-width: 590px) {
  .content-block { min-height: initial; }

  .description {
    width: 60%;
    margin-top: 1em;
  }

  .avatar {
    width: 40%;
    padding-top: 0;
  }

  .email-me .description { width: 100%; }
}
