---
title: Invisíveis
postPath: 2015/11/10/invisiveis
description: Acho impressionante a nossa capacidade de ignorar as coisas que estão bem à frente de nós. Algo como 'se enxerga, mas não se pode ver' sabe? Foi exatamente isso que aconteceu comigo nessa fotografia. Antes de falar da fotografia em si, deixe-me contar um pouco mais sobre o que estava acontecendo um pouco antes.
viewComponent: postView
---

{{#> layout }}

<section id="post-container" class="post-container"></section>

{{/layout}}

