html {
  background-image: url("../images/background-mobile.jpg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;

  background-color: rgb(99, 99, 108);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* workaround for full image background */
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  color: rgb(248, 245, 233);
  font-size: 12px;
  font-family: 'Lora', serif;
}

.title-section {
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title-section > .title {
  font-size: 3em;
  margin: 0;
  font-family: 'Poiret One', cursive;
}

.title-section > .description {
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
}

.expand-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  text-align: center;
}

.expand-wrapper > .button {
  background: none;
  border: 1px solid rgb(248, 245, 233);
  padding: 1em;
  margin: 1em;
  color: rgb(248, 245, 233);
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  opacity: .7;
  cursor: pointer;

  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.expand-wrapper > .button:hover,
.expand-wrapper > .button:focus {
  opacity: 1;
  outline: none;
}

.contact-links {
  padding: 1em;
  text-align: center;
}

.contact-links > .contactlink {
  color: rgba(248, 245, 233, 0.7);
  padding: 1em;
  text-decoration: none;
}

.contact-links > .contactlink:hover {
  color: rgba(248, 245, 233, 1);
}

.contactlink > .contacticon {
  font-size: 1.25em;
  color: rgb(99, 99, 108);
  top: 1px;
  position: relative;
}

@media screen and (min-width: 361px) {
  html {
    background-image: url("../images/background.jpg");
  }
}

@media screen and (min-width: 641px) {
  .title-section { font-size: 1.5em; }
}

