// media query breaks
$smallest-break: "screen and (min-width: 361px)";
$small-break: "screen and (min-width: 590px)";
$medium-break: "screen and (min-width: 641px)";
$large-break: "screen and (min-width: 751px)";
$largest-break: "screen and (min-width: 1025px)";

// colors
$light-text-color: rgb(248, 245, 233);
$dark-text-color: rgb(99, 99, 108);

