---
title: Paciência
postPath: 2015/12/23/paciencia
description: Já parou para pensar em quão valioso é o dito 'paciência é uma virtude'? Virtude, segundo o Michaelis, se refere a qualidades morais, a valor e coragem dentre outras coisas. Logo se vê que essa frase, por relacionar paciência e virtude, enaltece e muito a qualidade de alguém paciente.
viewComponent: postView
---

{{#> layout }}

<section id="post-container" class="post-container"></section>

{{/layout}}

