---
title: "Frieda Grita"
postPath: 2015/11/30/frieda-grita
description: É engraçado como planejamos coisas sob as quais não temos controle nenhum na vida. Essa fotografia foi um exemplo disso para mim.
viewComponent: postView
---

{{#> layout }}

<section id="post-container" class="post-container"></section>

{{/layout}}

